@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary: purple;
}

.container-center {
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: auto;
}

body {
  color: black;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

td {
  padding: 0.4rem;
}

input {
  padding: 0.5rem;
  border-style: none;
  border: 2px solid var(--primary);
  border-radius: 1rem;
}

.hide {
  display: none;
}

table {
  margin: auto;
  text-align: center;

  color: black;
}

label {
  display: block;
  padding-bottom: 0.4rem;
  font-weight: bold;
}

#about {
  margin: auto;
}

#display-msg {
  font-weight: bold;
}

button {
  padding: 0.5rem 1rem;
  border-style: none;
  background-color: var(--primary);
  color: white;
  border-radius: 1rem;
  font-weight: bold;
}

h1 {
  color: var(--primary);
}

.fab {
  font-size: 3rem;
  color: var(--primary);
}

.icon {
  text-align: right;
  padding-top: 0.8rem;
  padding-right: 1rem;
}
