@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary: #272727;
}

.container-center {
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: auto;
}

body {
  color: white;
  background-color: var(--primary);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

td {
  padding: 0.4rem;
}

input {
  padding: 0.5rem;
}

.hide {
  display: none;
}

table {
  margin: auto;
  text-align: center;
  background-color: rgb(68, 62, 62);
  color: rgb(255, 255, 255);
}

label {
  display: block;
  padding-bottom: 0.4rem;
  font-weight: bold;
}

#about {
  margin: auto;
}

#display-msg {
  font-weight: bold;
}

button {
  padding: 0.5rem 1rem;
}
